* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
}

/* Banner Image */
.banner {
    width: 100%;
    height: 220px;

    background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
    background-repeat: no-repeat;
    background-size: cover;        
    background-position: center;   

    border-radius: 12px;
    margin-bottom: 20px;
}

/* Rows */
.row {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

/* Box common */
.box {
    flex: 1;
    height: 140px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Image box */
.img {
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center;
}

/* Text box */
.text {
    background: #e6e6e6;
    color: #333;
    font-size: 18px;
}

        .a {
            list-style: none;      
            margin: 0;
            padding: 10px;
            background-color: rgb(169, 124, 124);
        }

        
        .b {
            display: inline-block; 
            padding: 10px 15px;
            color: white;
            cursor: pointer;
        }

    
        .b:hover {
            background-color: black;
            transition: 5s;
        }