.main {
    height: 200px;
    width:100%;
    border: 2px solid black;
    position: relative;
    background-color: beige;
}

.left {
    height: 50px;
    width: 30%;
    border: 2px solid black;
    position: absolute;
    background-color: rgb(47, 208, 11);
    left: 10px;
    top: 10px;
    background-image: Url("https://www.pixelstalk.net/wp-content/uploads/2016/06/Free-Images-Wallpaper-HD-Background.jpg");
    background-repeat: no repeat;
    background-size: cover;
    background-position: right center;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

.right {
    height: 50px;
    width: 30%;
    border: 2px solid black;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: brown;
    background-image: Url("https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?cs=srgb&dl=beautiful-bloom-blooming-658687.jpg&fm=jpg");
    background-repeat: no repeat;
    background-size: cover;
    background-position: left center;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}