.a {
    width: 30%;
    height: 100px;
    border: 2px solid black;
    background-color: greenyellow;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

.b {
    width: 30%;
    height: 100px;
    border: 2px solid black;
    background-color: aqua;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}